* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    
}

header {
    display: flex;
    gap: 8em;
    margin: 20.7em 22.9em 7.3em 22.9em;
}

header h1 {
    font-size: 6rem;
    font-weight: normal;
    line-height: 115%;
    margin: 0;
    flex: 4;
}

header p {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    line-height: 144%;
    flex: 6;
    margin-top: 4em;
}

.rular {
    position: relative;
    
}

.rular svg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    margin-top: 15.6px;
    margin: 15.6em auto 19em 22.9em;
}

.cta {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

a {
    text-decoration: none;
}

a span {
    font-size: 3.2rem;
    font-weight: normal;
    line-height: 115%;
    color: black;
}