* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Playfair', serif;
    margin: 0;
    display: grid;
    place-content: center;
    background: #D7DED3;
}

main {
    max-width: 1200px;
    margin: 19em 0;
    background: white;
    border-radius: 0.8em;
    display: flex;
    flex-direction: column;
    gap: 6.6em;
    padding: 4.1em 3.3em;
}

section.left-col {
    display: flex;
    flex-direction: column;
    gap: 3.7em;
    justify-content: space-between;
}

header h1 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 113%;
    margin: 0;
}

header p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

.cta {
    display: flex;
    align-items: center;
    gap: 1.3em;
}

.cta span {
    color: #406A29;
    font-size: 2rem;
    font-weight: bold;
}

.cta img {
    width: 2.7em;
}

section.right-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.3em;
    justify-content: center;
}

.box {
    width: 18em;
    aspect-ratio: 1 / 1;
    border-radius: 0.6em;
}

.box:nth-of-type(1) {
    background: url(./assets/drum1.jpg);
    background-size: cover;
}

.box:nth-of-type(2) {
    background: url(./assets/drum2.jpg);
    background-size: cover;
}

.box:nth-of-type(3) {
    background: #D0E1BB;
}

.box:nth-of-type(4) {
    background: url(./assets/drum3.jpg);
    background-size: cover;
}

.box:nth-of-type(5) {
    display: none;
}

.box:nth-of-type(6) {
    display: none;
}

@media screen and (min-width: 600px) {
    main {
        margin: 19em 5em 16em;
    }

    .box:nth-of-type(4) {
        background: rgba(255, 255, 255, 0)
    }

    .box:nth-of-type(5) {
        display: inline-block;
        background: #BBC8E1;
    }

    .box:nth-of-type(6) {
        display: inline-block;
        background: url(./assets/drum3.jpg);
        background-size: cover;
    }
}

@media screen and (min-width: 980px) {
    main {
        flex-direction: row;
        gap: 0.6em;
    }
    section.left-col {
        flex: 3;
    }
    section.right-col {
        flex: 7;
    }
}