* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: grid;
    place-content: center;
}

main {
    max-width: 1200px;
    margin: 10.7em 2.2em 2.8em;
    display: flex;
    flex-direction: column;
    gap: 11.3em;
}

.left-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    display: flex;
    flex-direction: column;
}

article h1 {
    margin: 0;
    font-size: 5.6rem;
    font-weight: bold;
    line-height: 118%;
    text-align: center;
}

article p {
    font-size: 2.2rem;
    line-height: 161%;
    text-align: center;
}

a {
    text-decoration: none;
}

.cta {
    background: #6642CD;
    border-radius: 1.2em;
    padding: 2.9em 3.6em;
    display: flex;
    gap: 3em;
}

.cta img {
    width: 2em;
}

.cta span {
    font-size: 2.4rem;
    line-height: 118%;
    font-weight: bold;
    color: white;
    text-align: center;
}

.box {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    border-radius: 1.2em;
    background: #AFD48A;
    position: relative;
}

.box img {
    height: 150%;
    position: absolute;
    top: calc(-1 * calc(100vw * 0.56));
    right: -3em;
    transform: scaleX(-1);
}

@media screen and (min-width: 900px) {
    main {
        margin: 11em 7em 11em;
        flex-direction: row;
        gap: 4.9em;
    }

    .left-col {
        flex: 1;
    }

    .right-col {
        flex: 1;
    }

    .box img {
        top: -26.3em;
    }

    section.left-col {
        align-items: flex-start;
        justify-content: space-between;
    }

    article h1 {
        text-align: left;
    }

    article p {
        text-align: left;
    }
}

@media screen and (min-width:1200px) {
    .box img {
        top: -36em;
    }
}