* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    background: #FCF5EB;
    display: grid;
    place-content: center;
}

main {
    max-width: 1200px;
    margin: 0 2.4em;
}

main > h1 {
    font-size: 4.4rem;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    margin: 2.59em auto 1.83em;
    position: relative;
}

main > h1::before {
    content: "N";
    position: absolute;
    font-size: 30rem;
    opacity: 0.1;
    top: -0.45em;
    left: -0.1em;
}

.container {
    border-top: 0.1em solid black;
    padding-top: 4em;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

article > h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.2rem;
}

article > p {
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 142%;
    color: #44403A;
}

@media screen and (min-width: 600px) {
    .container {
        padding-top: 5.2em;
        flex-direction: row;
        flex-wrap: wrap;
    }

    article {
        flex: 1;
    }

    article:nth-of-type(1) {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 900px) {
    article:nth-of-type(1) {
        flex-basis: 0;
    }
}