* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #0460BC;
    height: 100vh;
    display: grid;
    place-content: center;
}

main {
    width: 38em;
    background: #F6F6F6;
    border-radius: 1.1em;
    padding: 2.5em 2.5em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.3em;
}

header span {
    font-size: 2rem;
    font-weight: normal;
}

.arrow {
    width: 2.5em;
    height: 2.5em;
    background: #E1E9F0;
    padding: 0.5em 0.9em;
    border-radius: 0.4em;
}

.arrow img {
    width: 0.8em;
}

.cal {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    gap: 2em;
}

.days {
    font-size: 1.7rem;
    font-weight: bold;
}

.date {
    font-size: 1.7rem;
    font-weight: normal;
}

.gray {
    color: #999999;
}