:root {
    --purple: #7b1fa2;
    --violet: rgb(103, 58, 183);
    --pink: #f48fb1;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    display: grid;
    place-content: center;
    background: #111111;
    color: white;
}

main {
    padding: 0 6%;
    max-width: 1440px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 4.5em 0;
}

header a {
    font-size: 2.4rem;
    font-weight: 200;
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    gap: 3em;
    align-items: center;
}

.nav li {
    font-size: 1.8rem;
    font-weight: 200;
}

.nav li {

}

@media screen and (max-width: 1050px) {
    .nav li:nth-of-type(1) {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .nav li:nth-of-type(2) {
        display: none;
    }
}

/* Hero Section */

.hero-section {
    margin: 10em 0;
}

.hero-section .sub-title {
    font-size: 1.6rem;
    font-weight: 200;
}




.hero-section h1.title {
    font-family: "GT Walsheim Pro Medium Regular";
    font-size: 6.6rem;
    margin: 0;
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}

h1 .magic {
    display: inline-block;
    position: relative;
}

@keyframes scale {
    from, to {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

h1 .magic .magic-star {
    --size: clamp(20px, 1.5vw, 30px);

    display: block;
    height: var(--size);
    left: var(--star-left);
    top: var(--star-top);
    width: var(--size);
    position: absolute;
    animation: scale 700ms ease forwards;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}

h1 .magic .magic-star svg {
    display: block;
    opacity: 0.7;
    animation: rotate 1000ms linear infinite;
}

h1 .magic .magic-star svg path {
    fill: var(--violet);
}

h1 .magic .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero-section .description {
    font-size: 1.8rem;
    color: #F0F0F0;
    line-height: normal;
    font-weight: 200;
    letter-spacing: 1px;
    text-align: justify;
}

.hero-section .hero-cta {
    display: flex;
    gap: 1.2em;
    align-items: center;
    margin-top: 3em;
}

.hero-section .hero-cta span {
    font-size: 3rem;
    color: white;
    font-weight: 300;
    line-height: 24px;
}

.hero-section .hero-cta img {
    width: 3.3em;
}


/* Project Section */

.project-section {
    border-bottom: 0.3px solid #C6C6C6;
    padding-bottom: 10em;
}

.project-section h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 0.5em 0 2em;
    text-transform: capitalize;
}

.project-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25em, 1fr));
    gap: 5.5em;
}

.project img {
    width: 100%;
}

.project-title {
    margin: 3em 0 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title h1 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 200;
}

.project-title__btn a {
    margin-left: 1.9em;
}

.project-title__btn a img {
    width: 2.4em;
}

.project-description {
    font-size: 1.6rem;
    font-weight: 200;
    color: #C4C4C4;
    line-height: normal;
}

.project-tag {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: normal;
    color: #6CACE4;
}

/* Experience section */

.para-section {
    padding-top: 10.3em;
    padding-bottom: 10.3em;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
    border-bottom: 0.3px solid #C6C6C6;
}

.para-section > h1 {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

.para-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.para-box__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.para-box__title h1 {
    font-size: 2.4rem;
    margin: 0;
    font-weight: 200;
}

.para-box__title span {
    font-size: 1.6rem;
    font-weight: 200;
    color: #C4C4C4;
    line-height: normal;
}

.para-section .sub-title {
    font-size: 1.4rem;
    font-weight: 200;
    line-height: normal;
    color: #6CACE4;
}

.para-section .description {
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 200;
    color: #C4C4C4;
}

@media screen and (max-width: 1050px) {
    .para-section {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    .para-box__title {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5em;
    }
}

/* Contact section */

footer {
    padding: 10.3em 0;
    display: grid;
    grid-template-columns: 0.2fr 0.8fr;
}

footer h1 {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
}

.footer-btn img {
    width: 2em;
}

.input-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.input-btn {
    border: 1px solid #C6C6C6;
    border-radius: 0.4em;
    padding: 0.8em 3.5em;
    margin-right: 0.5em;
    
}

.contact {
    display: flex;
    gap: 2em;
    justify-content: space-around;
    align-items: center;
}



.footer-btn {
    border: 1px solid #C6C6C6;
    border-radius: 0.4em;
    padding: 1.3em 3.5em;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.footer-btn span {
    font-size: 1.6rem;
    line-height: normal;
    font-weight: 200;
    color: #C4C4C4;
}

@media screen and (max-width: 1050px) {
    footer {
        grid-template-columns: 1fr;
    }

    .contact {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-btn {
        width: 100%;
    }
}

/* ScrollBar */

::-webkit-scrollbar {
    width: 1em;
}
::-webkit-scrollbar-track {
    background: #111111;
}
::-webkit-scrollbar-thumb {
    background: rgba(196, 196, 196, 0.3);
    background-size: 200%;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(196, 196, 196, 0.7);
}

#trailer {
    height: 15px;
    width: 15px;
    background-color: #C4C4C4;
    border-radius: 100%;

    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms ease;
}

body:hover > main > #trailer {
    opacity: 1;
}

#trailer:not([data-type=""]) > #trailer-icon {
    opacity: 1;
}
  
#trailer-icon {
    font-size: 6px;
    line-height: 4px;
    
    opacity: 0;
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    transition: opacity 400ms ease;
}

.interactable {
    opacity: 0.8;
    transition: opacity 400ms ease;
}

.interactable:hover {
    opacity: 1;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.04); }.grow:hover { transform: scale(1.04); }
