* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #1D1D1D;
    margin: 0;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Inter', sans-serif;
}

form {
    width: 32.5em;
    height: 36.8em;
    background: #3662B8;
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    padding: 1.4em;
    justify-content: space-between;
}

.serach-bar input {
    background: #517FD9;
    width: 100%;
    height: 5.3em;
    border-radius: 0.4em;
    border: none;
    outline: none;
    margin-bottom: 4.5em;
    color: #9FB8EA;
}

.serach-bar input:focus {
    border: 1px solid white;
}

.serach-bar span {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: #85A9F1;
    font-weight: normal;
}

button {
    background: #14274B;
    color: #9FB8EA;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.7rem 8.2rem;
    border-radius: 0.4rem;
    border: none;
}

button:hover {
    background: #1f3d75;
}