* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    background: #DCF8F3;
    display: grid;
    place-content: center;
}

main {
    max-width: 1200px;
    margin: 11.4em 4.6em 8.9em;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

article {
    background: #FFFFFF;
    border-radius: 0.7em;
    padding: 2.7em 2.4em;
}

header {
    display: flex;
    gap: 1.8em;
    align-items: center;
}

header > h1 {
    margin: 0;
    font-size: 2.2rem;
    line-height: 142.5%;
    font-weight: bold;
}

article p {
    font-size: 1.5rem;
    line-height: 153%;
    font-weight: normal;
    color: #324441;
}

article:nth-of-type(3) {
    background: rgba(255, 255, 255, 0);
    border: 0.1em solid black;
}

img {
    width: 3.6em;
}

@media screen and (min-width: 600px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }

    article {
        flex: 1;
    }

    article:nth-of-type(3) {
        flex-basis: 100%;
    }
}

@media screen and (min-width: 1200px) {
    article:nth-of-type(3) {
        flex-basis: 50%;
    }
}