@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Regular.ttf), url(./assets/fonts/Poppins-Italic.ttf),
    url(./assets/fonts/Poppins-ExtraBoldItalic.ttf), url(./assets/fonts/Poppins-ExtraBold.ttf),
    url(./assets/fonts/Poppins-BoldItalic.ttf), url(./assets/fonts/Poppins-Bold.ttf);
}

:root {
    /* primary colors */
    --Purple: hsl(259, 100%, 65%);
    --Light-red: hsl(0, 100%, 67%);

    /* Neutral colors*/
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background-color: var(--Off-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #fff;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 160px;
    padding: 0 40px;
}

/** User date of birth start */
form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    border-bottom: 2px solid var(--Light-grey);
    position: relative;
    padding-bottom: 40px;
}

.cont {
    position: relative;
}

.input-name {
    position: absolute;
    font-size: 15px;
    color: var(--Smokey-grey);
    letter-spacing: 2px;
    font-weight: 800;
    top: -30px;
}

.input {
    height: 60px;
    width: 140px;
    border-radius: 6px;
    border: 1px solid var(--Light-grey);
    outline: none;
    padding: 0 20px;
    font-weight: 700;
    font-size: 32px;
    transition: .3s;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input:focus {
    border-color: var(--Purple);
    caret-color: var(--Purple);
}

p {
    font-size: 12px;
    font-style: italic;
    padding-top: 6px;
}

.invalid,
.invalid:focus {
    border-color: var(--Light-red);
    color: var(--Light-red);
}

.submit-btn {
    outline: none;
    border: none;
    border-radius: 50%;
    background-color: var(--Purple);
    padding: 30px;
    position: absolute;
    right: 0;
    bottom: -40px;
    cursor: pointer;
    transition: background-color .3s ease-out;
}

.submit-btn:hover {
    background-color: var(--Off-black);
}

.submit-btn:active {
    transform: scale(.99);
}

i {
    color: #fff;
}
/** User date of birth end */

/** User age result star */
.result {
    width: 100%;
    height: 280px;
    padding-top: 20px;
    overflow: auto;
}

.result h1 {
    font-weight: 800;
    font-size: 70px;
    font-style: italic;
}

.result span {
    color: var(--Purple);
}
/** User age result end */

@media screen and (max-width: 660px) {
    .container {
        width: 330px;
        padding: 0 20px;
    }

    /** User date of birth start */
    form {
        gap: 15px;
        padding-bottom: 60px;
    }
    
    .cont {
        position: relative;
    }
    
    .input-name {
        font-size: 12px;
        top: -25px;
    }
    
    .input {
        height: 50px;
        width: 80px;
        padding: 0 15px;
        font-size: 18px;
    }

    .submit-btn {
        right: 39%;
        bottom: -40px;
    }
    /** User date of birth end */

    /** User age result star */
    .result {
        padding-top: 40px;    
    }
    
    .result h1 {
        font-size: 55px;
    }
    /** User age result end */
}