* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #313131;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: grid;
    place-content: center;
}

main {
    width: 99em;
    height: 49em;
    background: #EED9E6;
    display: flex;
    gap: 3.1em;
    padding: 12.8em 8em;
}

div.avatar {
    flex: 0.6;
}

img {
    width: 5.8em;
    border-radius: 100%;
}

article {
    flex: 9.4;
    background: white;
    border-radius: 0.5em;
    padding: 2.8em 3.4em;
}

article h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0 0 0.4em 0;
}

article p {
    font-size: 1.6rem;
    font-weight: normal;
}

footer {
    margin-top: 4em;
    display: flex;
    justify-content: space-between;
}

footer span {
    font-size: 1.4rem;
    color: #695762;
    font-weight: normal;
}