* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 14em 14em 0 14em;
    font-family: 'Playfair Display', serif;
    background: #FCF5EB;
}

p {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 4.4rem;
    margin-bottom: 0.54em;
    position: relative;
}

.container {
    border-top: 0.1em solid black;
    display: flex;
    padding-top: 2.8em;
    gap: 5.8em;
}

.box h2 {
    font-size: 2.2rem;
}

.box p {
    color: #44403A;
    font-size: 1.4rem;
    line-height: 142.5%;
}

span {
    font-size: 30rem;
    opacity: 0.05;
    position: absolute;
    top: 0;
    left: 75px;
}