* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    display: grid;
    place-content: center;
    font-family: 'Satoshi', sans-serif;
}

main {
    padding: 2.4em 5.3em;
    width: 1200px;
}

header {
    display: flex;
    justify-content: space-between;
}

.header--left-btn {
    display: flex;
    align-items: center;
    gap: 5.3em;
}

.header--left-btn img {
    width: 25.5em;
    height: 9.5em;
}

.drop-btn {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

a {
    text-decoration: none;
}

.drop-btn span {
    font-size: 1.7rem;
    font-weight: 500;
    line-height: 1.29em;
    color: #606060;
}

.drop-btn img {
    width: 2.4em;
    height: 2.4em;
}

.header--right-btn {
    display: flex;
    gap: 1.4em;
    align-items: center;
}

.cta-btn {
    display: flex;
    gap: 1em;
    align-items: center;
    border: 0.1em solid #2B98EE;
    border-radius: 0.4em;
    padding: 1.3em 0.9em;
}

.cta-btn-text {
    display: flex;
    flex-direction: column;
}

.cta-btn-text span {
    color: #2B98EE;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.7em;
}

.btn-blue {
    background: #2B98EE;
    padding: 2.4em 1.1em;
}

.text-white span {
    color: white;
}

.cta-btn img {
    width: 1.6em;
    height: 1.6em;
}

.wrapper {
    padding: 6.3em 7.9em;

}

.hero {
    margin-top: 2.4em;
    background-image: url(./assets/young-business-woman-working-computer-home\ 1.png);
}

.hero-title {
    display: flex;
    flex-direction: column;
}

.hero-title span {
    font-size: 6rem;
    line-height: 0.9em;
    color: white;
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.hero-description {
    font
}